name: Build

on:
  pull_request: {}
  push:
    branches: [ main ]

jobs:
  build-contianer:
    permissions:
      contents: read
      packages: write
    name: Build and push image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Extract dnsmasq version
        id: dnsmasq
        run: |
          echo "version=$(sed -nr 's/^ARG DNSMASQ_VERSION=(.*)$/\1/p' Dockerfile)" >> "$GITHUB_OUTPUT"
      - name: Extract alpine version
        id: alpine
        run: |
          echo "version=$(grep -oE 'alpine:([^@ ]+)' Dockerfile | head -1 | cut -d: -f2)" >> "$GITHUB_OUTPUT"
      - name: Generate tag
        id: tag
        run: |
          echo "bare=${{ steps.dnsmasq.outputs.version }}" >> "$GITHUB_OUTPUT"
          echo "full=${{ steps.dnsmasq.outputs.version }}-alpine${{ steps.alpine.outputs.version }}" >> "$GITHUB_OUTPUT"
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        if: github.event_name == 'push'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: ${{ github.event_name == 'push' }}
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository_owner }}/dnsmasq:v${{ steps.tag.outputs.bare }}
            ghcr.io/${{ github.repository_owner }}/dnsmasq:v${{ steps.tag.outputs.full }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
